<ion-content>
  <div class="container-geral">
    <div class="container-top">
      <div class="top">
        <div class="title-p"><p>Hello,Tim</p></div>
        <div>
          <img
            class="title-img"
            style="background-color: #df7734"
            src="https://akamai.sscdn.co/letras/215x215/fotos/b/9/d/4/b9d4fc2eb47c6cbf65a775ce6a791344.jpg"
          />
        </div>
      </div>
      <div class="box-hub">
        <div class="hub">Hub</div>
        <div class="cash">Cash</div>
        <div class="crypto">Crypto</div>
      </div>
      <div class="all-accounts">
        <div class="total-balance">
          <div class="balance">
            <p class="p-1">All acconuts</p>
            <p class="p-2">Total balance</p>
          </div>
          <div class="total"><h1 class="h1-all">$2,456,557.00</h1></div>
        </div>
      </div>
      <div class="btn-func">
        <div class="deposit">
          <ion-icon
            class="icon-icon"
            name="arrow-forward-circle-outline"
          ></ion-icon>
          <p>Deposit</p>
        </div>
        <div class="withdraw">
          <ion-icon class="icon-icon" name="add-circle-outline"></ion-icon>
          <p>withdraw</p>
        </div>
        <div class="transfer">
          <ion-icon class="icon-icon" name="repeat-outline"></ion-icon>
          <p>Transfer</p>
        </div>
      </div>
    </div>
    <div class="container-bottom">
      <div class="net-worth">
        <h4>Net Worth</h4>
      </div>
      <div class="cash-1">
        <div class="img">adsass</div>
        <div class="cash-balance">
          <h1>Cash balance</h1>
          <p>8 accounts</p>
        </div>
        <div class="total-cash">
          <h1>$23,000,00</h1>
          <p>99%</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
