<ion-content>
  <div class="fundo">
    <h1 class="h1-title">Get better with money.</h1>
    <div class="image">COLOCAR IMAGEM AQUI !!!</div>
    <div class="login">
      <div class="input-login">
        <p>what is your goal?</p>

        <input
          class="input-cpf"
          type="text"
          id="cpf"
          placeholder="Digite seu CPF"
          required
        />

        <input
          class="input-senha"
          type="password"
          id="senha"
          placeholder="Digite sua senha"
          required
        />
      </div>
      <div class="btn-login">
        <div class="btn-skip">Skip</div>
        <div class="btn-continue">
          <p>Continue</p>
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
